$font-stack:       "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$primary-color:    #333;
$background-color: #fff8e7;
$jonah-picture-width: 10em;

body {
	font: 100% $font-stack;
	color: $primary-color;
	background: $background-color;
	padding: 0;
}

.nav_container {
	width: 100%;
	position: fixed;
	margin: 0 0 0 0;
	top: 0;
	left: 0;
	background: #020e3b;
	text-align: center;
	padding: 0;

	.nav_sizer {
		max-width: 1000px;
		margin: 0 auto;

		nav {

			padding: 1em 0 1em 0;
			text-align: left;

			ul {
				text-align: left;
				font: #fff;
				margin: 0;
				padding: 0;
				list-style: none;
				display: inline-block;
				width: 100%;
			}

			li {
				text-align: left;
				display: inline-block;
				margin-right: 1em;
			}

			a {
				color: #fff;
			}
		}
	}
}

.page_container {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0;
	margin: 2em 0 2em 0;
}

.page {
	max-width: 1000px;
	padding: 2em 0 2em 0;

	hr {
		border-top: 1px dashed #8c8b8b;
	}
}

#date {
	font-weight: bold;
}

.blog_post_list {
	list-style-type: none;
	padding-left: 0;
}

.img-circle {
	float:left;
	width: $jonah-picture-width;
	margin: 2em 1em 1em 0;

	img {
		width: 100%;
		-webkit-border-radius: $jonah-picture-width - 1em;
		-moz-border-radius: $jonah-picture-width - 1em;
		border-radius: $jonah-picture-width - 1em;
	}
}