{% extends "base.html" %}

{% block title %}Favorite recent moment in ad targeting{% endblock %}

{% block description %}Ad targeting that's at once effective and not{% endblock %}

{% block page_content %}

	<h1>{{ self.title() }}</h1>

	<h2 id="date">2016-05-18</h2>

	<p>Soon after I moved to Washington Heights (majority Hispanic neighborhood, for you non-New Yorkers), I started getting YouTube pre-roll ads in Spanish. Interestingly, I find them entertaining (who doesn't want to hear about Jim Beam Manzano!?) and am now less likely to skip through them than when they were in English.</p>

{% endblock %}