<!doctype html>
<html>
<head>
    <title>{% block title %}{% endblock %} - Jonah Blumstein</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='output.css') }}">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,600italic,700,700italic,300italic' rel='stylesheet' type='text/css'>
    <link rel="icon" type="image/gif" href="http://jonahblumstein.net/jbheadshotfavicon.gif">
</head>
<body>
	<div class="nav_container">
		<div class="nav_sizer">
			<nav>
				<div class="menu_container">
					<ul>
						<li><a href="/">Jonah Blumstein</a></li>
						<li><a href="/resume">Resume</a></li>
						<li><a href="mailto:jonah.blumstein@gmail.com">Email</a></li>
					</ul>
				</div>
			</nav>
		</div>
	</div>
	<div class="page_container">
		<div class="page">
			{% block page_content %}
			{% endblock %}
		</div>
	</div>
</body>
</html>