{% extends "base.html" %}

{% block title %}Changeover, by Giri Nathan{% endblock %}

{% block description %}Sometimes there just isn't much to say{% endblock %}

{% block tags %}books{% endblock %}">

{% block date %}2026-05-02{% endblock %}">

{% block page_content %}

	<p>Tennis stars Jannik Sinner and Carlos Alcaraz don't wish to be known by the public, and at the end of Nitin Shah's book on their rise to the top of the game, you still won't. David Foster Wallace struggled with the same issue with a generation earlier's stars and resorted to writing about what tennis illuminates about spirituality and capitalism. Shah has no larger message though, so the reader is left wondering what, if anything, was the point.</p>

{% endblock %}