{% extends "base.html" %}

{% block title %}The Chronicles of DOOM, by S. H. Fernando, Jr.{% endblock %}

{% block description %}The man in the mask{% endblock %}

{% block tags %}books, music{% endblock %}">

{% block date %}2026-07-19{% endblock %}">

{% block page_content %}

	<p>Anyone who has read this is convinced of the genius of Daniel Dumille, commonly known as MF DOOM, but also King Geedorah, Viktor Vaughn, and a number of other aliases.</p>

	<p>What I enjoyed most was learning of DOOM's origin story on Long Island and in the city. Something about the scene - optimistic, trippy, multi-racial, and cutting across class - is a beautiful thing to read about when it has felt that any sort of homegrown music scene has been priced out and left dormant in NYC for going on 15 years. Notably, DOOM left too, and earlier than I'd thought.</p>

	<p>What I enjoyed second-most was learning of additional DOOM records I had neglected. The King Geedorah record is a new favorite, and some of the Special Herbs tracks are indeed special.</p>
	
	<p>Inevitably, there are parts that are a bummer: the end of the story is publicly-known but remains sad, and it's unsurprising that DOOM wasn't a particularly good person. Still, this book shines some light on DOOM, while necessary mystery remains.</p>

{% endblock %}