{% extends "base.html" %}

{% block title %}The Facebook Donate Now Button Is Better For Small and Medium-Sized Non-Profits than Ad Grants{% endblock %}

{% block description %}The haters are wrong: the Facebook Donate Now button is the best thing it can do for small- and medium-sized non-profits.{% endblock %}

{% block tags %}non profit, facebook, content strategy, advertising{% endblock %}">

{% block date %}2013-12-19{% endblock %}">

{% block page_content %}

	<p>On Monday, Facebook released a new "Donate" button for non-profits. The "Donate" button would allow Facebook users to donate to 19 major non-profits right on the organizations' Facebook pages, using either a credit card or PayPal.

	<p>While I suspect that the "Donate" button will lead to a lot of new donations for large non-profits, I think it could have an even greater impact on small and medium-sized non-profits as the service expands. For small and medium-sized non-profits, "Donate" might lead to greater donations and eventually to more investment in content creation. 

	<h3>"Give Us Our Audience Back"</h3>

	<p>However, social media managers for many small and medium-sized non-profits have expressed unhappiness with the "Donate" button, saying that they’d rather have access to a greater percentage of their audience with each post.

	<p>This has been a complaint among social media managers since late 2011, when buying reach first became an option and Facebook changed its algorithm to de-emphasize pages' posts in order (which social managers took as a way of encouraging them to do so). From personal experience, and from some reading over the last couple days, the average reach for an unamplified page post has sat around 15% over the past 24 months.

	<p>The anger of among social media managers for small and medium-sized non-profits ignores the larger context. The reason small and medium-sized non-profits that don’t pay for additional reach only reach 15% of their followers with each post is not that Facebook is trying to blackmail them, but because there's just too much content being created on Facebook to make it so that any user can see a significant percentage of it (all the activity at the top right of your screen on desktop FB hints at the frenetic level of real-time activity).

	<h3>Some Hypotheticals</h3>

	<p>Still, hypothetically, could give social media managers for non-profits what they want: greater reach, for free, and they could do it in two ways.

	<ol>
	<li>Facebook could alter its algorithm to more heavily weight posts from the pages for non-profits in a user's feed than posts from friends and the people and for-profit organizations that the user follows.</li>
	<li>Facebook could provide ad grants for non-profits, as petitioners on change.org are requesting.</li>
	</ol>

	<p>It's unlikely to take either step anytime soon. Right now, Facebook is working to figure out how to sort through all the data users are creating, hence the algorithm re-organization towards "quality content" (more on this later) and the investments in AI and machine learning to build more sensitive and complex algorithms. All this work feeds directly into Facebook's current goals for newsfeed (Facebook's most important product--most people come to Facebook to check their newsfeed), which are keeping users engaged, proving to publishers of "quality content" (i.e. Upworthy and the Atlantic, not people who create photo memes) that they should focus their energy here rather than on Twitter and other social networks, and increasing the amount of money spent on expanding reach.

	<p>Either move would leave to lost revenue for Facebook, both directly and indirectly. With an algorithm change, Facebook would have to pay to modify the code, which would not be as cheap or easy as social media managers imagine. With ad grants, Facebook would lose spend on expansions in organic reach from affected organizations. In either case, increasing the reach of small and medium-sized non-profits would be a revenue-loser for Facebook due to diminished engagement levels on newsfeed. This last hit alone is almost certainly a greater cost to Facebook than creating the "Donate" button.

	<h3>It's Not Your Fault That Your Content Isn't Awesome</h3>

	<p>Creating quality content is expensive, and only getting more so.

	<p>Facebook, in order to become an all-in-one feed users go to for all kinds of content, has focused on promoting publishers that create "quality content."" However, the kind of content that Facebook is promoting is expensive to produce and ultimately biased toward sites with large existing user bases.

	<p>Facebook is now aiming to promote thoughtful, original blog posts and videos that are already gaining traction over photo memes. The problem for non-profits are that while making photo memes is cheap and doesn't require a ton of expertise, creating a viral video or interesting blog post and getting it some traction in terms of views and shares before Facebook gives it extra mojo requires time, knowhow, and an audience that's either ingrained or purchased. Upworthy content creators (paid professionals who understand what makes for viral content much better than the average non-profit employee) only put out 5-7 pieces per week, and each piece is optimized through a fair amount of A/B testing.

	<p>The truth is, under this rubric, small and medium-sized non-profits don't have the resources to create or do the essential early-stage promotion necessary to create what Facebook is recognizing as "quality content."" As a result, even if Facebook were to give small- and medium-sized non-profits access to their full audience, they wouldn't be able to utilize it effectively.

	<h3>I Digress...</h3>

	<p>The "Donate" button, however, could be a bonanza for small- and medium-sized non-profits. The world of giving online is still donated by sketchy looking NGP VAN and SALSA pages that make users uncomfortable and project a lack of technological savvy by the organization. They also require the user to access them through a fundraising email or the organization's website, the latter of which is almost invariably sparsely visited. The seamless access that Facebook provides with the donate button will allow followers to quickly and easily make a financial commitment without searching and uncertainty. It's a win for the donor and for the non-profit. 

	<p>Ultimately, if I ran a small or medium-sized non-profit, I'd much rather spend $100 to reach all my Facebook followers asking them to give than to have my staff or a consultant spending hours trying to create "quality content" that most likely won’t take off anyway.
	
{% endblock %}