{% extends "base.html" %}

{% block title %}2 Quick Thoughts on 'Every Song Ever'{% endblock %}

{% block description %}Yep, I have thoughts.{% endblock %}

{% block tags %}books, music, punk rock, hardcore{% endblock %}">

{% block date %}2016-07-15{% endblock %}">

{% block page_content %}

	<p>Two quick thoughts on the following passage from NYT music critic Ben Ratliff's <i><a href="https://www.amazon.com/dp/B011I2MNRG/ref=dp-kindle-redirect?_encoding=UTF8&btkr=1#nav-subnav">Every Song Ever: Twenty Ways to Listen in an Age of Musical Plenty</a></i>:

	<p>"Hardcore punk in the '80s was a late extension of neatly moralizing, late '50s to early '60s style radical social-science doomsday, tracts based on bomb paranoia and conspiracy theories: monolithic thoughts of the company man, the military-industrial complex, the power elite, when it was still clear to politicized artists who was us and who was them. It is based on the thought that something is being done to us against our will, and we'd better trace the torture, mimic it, throw it back at our torturers, enact it on ourselves as inside-out protest."

	<ol>

		<li>This is unflattering and incomplete (hardcore was also a reaction against the hippie-yuppie self-indulgence, not just conformity), but maybe also not far off.</li>

		<li>Ironically, by this definition, we are now a nation of hardcore punks, just with varying definitions of who is "us" and who is "them."</li>

	</ol>

{% endblock %}