{% extends "base.html" %}

{% block title %}Gilead, by Marilynne Robinson{% endblock %}

{% block description %}Never has a page break meant more{% endblock %}

{% block tags %}books{% endblock %}">

{% block date %}2026-04-30{% endblock %}">

{% block page_content %}

	<p>John Ames is a dying 75 year old minister in 1950s Iowa, writing a letter to his young son to remember him by. Mirroring Ames's life, story meanders then sprints. In its short course, Robisin manages meditations on fathers and sons, race in America from Reconstruction to the dawn of the Civil Rights era, and the tale of the Prodigal Son. To say so much about family, faith, and flag in so few words is an achievement, and to make the entire journey lovely doubly so.</p>

{% endblock %}