{% extends "base.html" %}

{% block title %}My Blog Post{% endblock %}

{% block description}This is a sample blog post. It is cool.{% endblock %}

{% block page_content %}

	<h1>{{ self.title() }}</h1>

	<h2 id="date">2016-12-19</h2>

	<p>I'm a thinker, tinkerer, reader and do-er in New York, New York. I am a Senior Strategy Consultant in the Corporate Strategy Group at IBM, working on positioning the company in the quickly changing market for enterprise and SME information technology. I previously worked in business development, strategy, and marketing roles at Amazon and Hearst and have an MBA from the NYU Stern School of Business</a>. My skill set includes data analysis (Python, SQL, Excel, basic R) and web design and development (HTML, CSS, Wordpress customization, basic Flask, basic Ruby on Rails). I built this site using Flask in order to try out a new technology.</p>

{% endblock page_content %}