{% extends "base.html" %}

{% block title %}Hopes, Dreams, Aspirations (MBA as Training for Product Management){% endblock %}

{% block description %}With the start of business school, I'm planning out my professional life beyond the next year or so for the first time. Thinking about what I really want to do, I've realized that what I'm really passionate is technology and product management. Now I'm trying to learn how to get from point A to point B.{% endblock %}

{% block page_content %}

	<h1>{{ self.title() }}</h1>

	<h2 id="date">2013-08-27</h2>

	<p>When I was a kid, my dad would occasionally sit me down, and in a dramatic tone (with tongue firmly in cheek) ask me, &quot;what are your hopes, dreams, aspirations?&quot;

	<p>I still have no idea why my dad found this exercise so entertaining, but for me the question is today very relevant. With the start of business school, I'm trying to plan out my professional life beyond the next year or so for the first time and thinking hard about my hopes and dreams and aspirations.

	<p>Business school orientation has helped me narrow down my options. I don't want to work in a traditional finance, management consulting or CPG marketing position. What I'm interested in is what I've always been interested in: technology, media, and government/non-profit.

	<p>Having experienced and enjoyed working in the media and government sectors, I now want to focus on tech (either as a sector or as a job function) and then try to apply it to areas that interest me.

	<h3>What All This Means</h3>

	<p>So I'll likely be doing my MBA differently than many of my classmates. In addition to the standard Accounting, Microeconomics, Statistics, Business Strategy, and Marketing courses, I'll be taking a UI/UX or CS class this semester, and more design and programming classes in the future as I get through Stern's core curriculum.

	<p>In the short and medium term, I'm most interested in product management. I'm fascinated with every part of the creation of new products, from the back-end to the design to the marketing, and I like speaking to and working with technically-oriented people.

	<p>Over, the past few weeks, I've started reading the lit on how to become a product manager. I'm going to need to improve my hard skills (both on the front and back end), to gain a greater understanding of marketing, and to really learn just what a product manager does on a day-to-day basis. It may take a lot of work and some figuring things out on my own, but as a marathoner these are conditions I'm used to.

	<p>If you have advice or thoughts, I'd like to hear from you! Shoot me an email at  <a href="mailto:jonah.blumstein@gmail.com">jonah (dot) blumstein (at) gmail (dot) com</a>.

{% endblock %}