{% extends "base.html" %}

{% block title %}How to Listen to Jazz, by Ted Gioia{% endblock %}

{% block description %}A perfect guide for the jazz advanced novice{% endblock %}

{% block tags %}books{% endblock %}">

{% block date %}2026-07-26{% endblock %}">

{% block page_content %}

	<p><i>How to Listen to Jazz</i> is an immensely useful guide for anyone who enjoys jazz, but feels like they don't quite understand it. It's also a very fun read.</p>

	<p>The first three chapters (particulary chapters 2 and 3) focus on what to listen for when you listen to jazz. Swing, phrasing, pitch, dynamics, personality, spontaneity, personality, and common structures are all covered at a level an advanced novice can understand.</p>

	<p>Gioia then covers the history of jazz, major styles, a handful of genre giants, and some newer artists to look out for.</p>

	<p>A fun exercise is to take the concepts from the first part of the book and to listen for them in the compositions Gioia recommends in the second part (or use your pre-existing favorites). Learning from Gioia about 32-bar intros and AABA structure and then hearing them in the start of Bill Evans' <i>Nardis</i> was a revelation.</p>

	<p>Overall, <i>How to Listen to Jazz</i> is everything that one would hope for in a piece of non-fiction: it's a breezy and informative tour of an interesting topic from an expert.</p>

{% endblock %}