{% extends "base.html" %}

{% block title %}How Economics Explains the World, by Andrew Leigh{% endblock %}

{% block description %}The world, somewhat explained{% endblock %}

{% block tags %}books{% endblock %}">

{% block date %}2026-07-12{% endblock %}">

{% block page_content %}

	<p><i>How Economics Explains the World</i> tries to weave together two narratives:</p>
	<ol>
	<li>A history of mankind through the lens of technology and incentives</li>
	<li>A history of economic thought from Adam Smith forward</li>
	</ol>

	<p>It's a pleasure in the parts where it succeeds, as it does across the 20th Century, and especially from Keynes through Milton Freidman.</p>
		
	<p>However, it only does so for a minority of the book. Before the 20th Century (and especially before Adam Smith), when the influence of economists was negligible, <i>How Economics Explains the World</i> is solely a story of technology and incentives, a sort of spark notes version of <i>Guns, Germs, and Steel</i>. And after the 20th Century, where both the scholarship and history are still unresolved, the two narratives can't be tied together neatly. In these portions, <i>How Economics Explains the World</i> is much less compelling.</p>

{% endblock %}