{% extends "main-page-base.html" %}

{% block title %}Index{% endblock %}

{% block page_content %}

	<div class="img-circle">
		<img src="http://jonahblumstein.net/jbheadshot.jpg">
	</div>

	<h1>My name is Jonah</h1>
	
	<p>I'm a thinker, tinkerer, reader, and do-er in Pittsburgh. As a Data Scientist / Engineer for Caserta, I'm an analytics practitioner, helping clients across industries address their business problems and delivering analytics-based solutions (i.e., I spend a lot of time working with client and 3rd party data in R and Python, building software and looking for actionable insights). I previously worked as a data scientist for IBM and in strategy, analytics, and marketing roles at IBM, Amazon, and Hearst, and have an MBA from the NYU Stern School of Business. My skill set includes Python, R, SQL, Excel, and basic Java, (Py)Spark, Flask, Javascript, HTML, and CSS. I <a href="http://blumste.in/blog/new-website/">built this site using Flask</a> in order to try out a new technology.</p>

	<p>Outside work, I'm fascinated by the future of media and national and New York politics. I'm also a long distance runner and an "amateur reader" (to quote J.D. Salinger), with the music taste of a 45-year-old ex-punk.</p>

	<p><a href="http://www.linkedin.com/pub/jonah-blumstein/14/273/609" target="_blank">LinkedIn</a> | <a href="http://twitter.com/jonahblumstein" target="_blank">Twitter</a> | <a href="https://github.com/JBlumstein" target="_blank">GitHub</a> | <a href="mailto:jonah.blumstein@gmail.com">Email</a></p>

	<hr>

	<h2>Blog posts tagged {{ tag }}:</h2>
	
	<ul class="blog_post_list">

		{% for item in blog_posts %}

			{% if tag in item.tags %}
				<li><a href="{{ item.url_path }}">{{ item.title }}</a><br>
				{{ item.date }}<br>
				{{ item.description }}</li>
				<br>
			{% endif %}

		{% endfor %}

	</ul>

{% endblock %}