{% extends "base.html" %}

{% block title %}3 Issues with Management Consulting{% endblock %}

{% block description %}Niggling thoughts after reading Walter Kiechell III's The Lords of Strategy{% endblock %}

{% block tags %}strategy, management consulting, books{% endblock %}">

{% block date %}2018-05-13{% endblock %}">

{% block page_content %}

	<p>A few months ago, I read Walter Kiechell III's <em>The Lords of Strategy</em>. It was a good read on the history of management consulting techniques, and how they've seeped into general corporate practice and the neoliberal view of society. Furthermore, it gave me a renewed appreciation of the work I used to do when I was on IBM's Corporate Strategy team, which is led by a former BCG partner.</p>

	<p>However, after finishing the book, I remain bothered by three outstanding problems with management consulting practice that I saw as a strategy practitioner and that were not fully addressed. They're as follows:</p>

	<ol>

		<li><strong>Management consultants often lack a deep understanding of an industry</strong>: This issue is endemic, especially of consultants below the Director level. Understanding an industry - and the different spaces within an industry (my next point) - takes a lot of experince, and no matter how smart the newly-minted MBAs and how comprehensive the firm's Knowledge Management practices, it's going to be years before new consultants know what they're doing.</li>

		<li><strong>Industries are too internally differentiated to properly staff for</strong>: Unlike functional problems (HR, information systems), which are pretty similar within and even across industries, market-level issues can vary wildly even within an industry. Take TMT (Technology-Media-Telecom), a common management consulting vertical, for an example. TMT includes hardware, software, services, subscription, and ad-supported businesses, at both B2B and B2C levels. The way to approach problems in ad-supported busineses (mostly B2C) and B2B hardware businesses like servers are totally different. With inevitably a limited number of available engagements for the management consultants, it would be hard to spend enough time in these paradigms to become an expert in any of them, and almost certainly impossible to become an expert in more than one or two.</li>

		<li><strong>Market sizing is extremely hard</strong>: Over-reliance on assumptions in sizing exercises when doing competitor and market analysis are inevitable, but not fully accounted for (I've never seen scenario analysis or error bars in this line of research). The truth is that understanding where a market is is hard if you're building up from understanding the big players - public competitors' 10-Ks almost always don't drill down far enough, and in many cases competitors are privately-held and completely oblique. There's limited recourse for what management consultants can do better here, but considering how complex and differentiated industries are (see 1 and 2), market sizing should be done a lot more cautiously.</li>

	</ol>

	<p>So what's the solution for these problems? Would internal strategy teams or boutique consulting firms do better? I'm not sure - these issues could come up with either of them just as easily. More than anything, these are just niggling problems that I have a hard time dismissing when I think about management consulting as a discipline.</p>

{% endblock %}
