{% extends "base.html" %}

{% block title %}On Getting There{% endblock %}

{% block description %}How I became a data scientist{% endblock %}

{% block tags %}data science{% endblock %}">

{% block date %}2017-12-28{% endblock %}">

{% block page_content %}

	<p>On occasion, an acquaintance will ask me: how did you get <em>there</em>?

	<p>By there, they mean into the field of data science, of which I am practitioner. The point of origin varies: it may be my undergraduate degree in history (ages 18-22), my moment as an editorial assistant at a publishing house (age 22), my longer stint working for politicians (ages 22-26), or, more recently, my MBA and subsequent two and a half years as a management consultant (ages 26-30). Which one you pick is mostly irrelevant; none of them are a traditional starting point for someone in my current line of work.

	<p>Here's how it happened.

	<h3>Figuring out what I want</h3>

	<p>A data scientist must be proficient in statistics and computer programming. I should note that my interest in each goes back more than half a decade - to an econometrics couse my last semester in college for the former and to learning HTML and CSS to make better-looking email newsletters for an early job for the latter. But that background is far from sufficient for someone working in data science; it does not even necessarily equate to an interest in it.

	<p>For me, the true spark for becoming a data scientist lies in two MBA-era realizations: 1) that, when faced with a business problem, I felt it worthwhile to spend additional time on analysis in order to make more a data-oriented decision, and 2) that I found joy in the art and science of working with data. Write code, and then apply statistical methods and/or create visualizations that form a compelling narrative - that's heaven for me.

	<p>I discovered my love for data science in a course called Regression and Multivariate Analysis (detailed class notes <a href="http://people.stern.nyu.edu/jsimonof/classes/2301/">here</a>), essentially Stat 102. I was one of the few to insist on using the programming language R rather than the Excel-like program also allowed for the course. I struggled mightily as I gained experience with both a new language and new statistics material, but I was having fun running analyses on datasets I chose myself (e.g. splits from Boston Marathon finishers).

	<p>I knew I wanted to be a data scientist by the end of that course, in May 2014. Everything since has been merely a matter of effort and learning from failure. 

	<h3>Effort</h3>

	<p>In my journey to becoming a data scientist, 2014 to 2017 held an iterative cycle of picking the minds of practitioners, coursework, and self-study and passion projects, undertaken entirely in the nights and weekends outside of school and work hours. Ask data science practitioners what to learn; take a class in it; build something using what I learned; go talk to practitioners again, this time with something new to show them. Keep repeating this process.

	<p>It took a lot of time, both in terms of hours of labor and calendar years. True effort always does - if the movie Rocky were an accurately scaled compression of real-life, the training montage would take up more than half the running time. There's something deeper to be said on effort, but it makes for a difficult subject to write about, so I'll pivot here. 

	<h3>Failure...and then success</h3>

	<p>Reaching my goal also required a lot of failure. Every few months, I would interview for a promising data science position, and fall short. One time, my understanding of statistical methods wasn't strong enough. Another, I failed a programming test. A third, I was flustered by a question that turns out to central to any good practitioner - when given a new dataset, how do you approach analyzing it?

	<p>Failing interviews guided me forward: I read up on regression methods beyond OLS, I made flash cards on frequently used Python methods, I thought more about my process approaching problems and refined how I talk about it.

	<p>With that additional effort, I was eventually strong enough to make it through the interview gauntlet. I started my first role as a data scientist in September. I'm enjoying it immensely, and I'm not kidding when I say it's everything I always imagined and more.

	<h3>So what's the takeaway?</h3>

	<p>I'm not aiming to tell you how to become a data scientist (if you want that advice <a href="mailto:jonah.blumstein@gmail.com">shoot me an email</a>). If forced, I'd say my point is a bit broader: if you have a passion for something and are willing to put in the effort and fail repeatedly in the process of getting there, it's OK to figure out what you want to do with your career in your upper-20s or later, it's OK if what you want to do is very different than what you do right now, and it's OK if what you want to do is very different from what your colleagues or classmates want to do.

	<p>It's not just me: I know a biologist-turned-chef, an artist-turned-chemist, a religion major-turned-mathematician, a software engineer-turned-rocket scientist. All took time (in all the above cases, years), all involved notable struggles in the transformation process, all reached their goal. 

	<p>And so, if you want to, can you.

{% endblock %}