{% extends "base.html" %}

{% block title %}The Sabbath, by Abraham Joshua Heschel{% endblock %}

{% block description %}Sanctifying time{% endblock %}

{% block tags %}books{% endblock %}">

{% block date %}2026-04-19{% endblock %}">

{% block page_content %}

	<p>Like most Heschel, <i>The Sabbath</i> is sometimes gorgeous, sometimes nearly incomprehensible. The vibes are immaculate though.</p>

	<p>The message comes through clear: sanctify the time of the sabbath as you would the space of a temple. And after six days a week of focusing on things ("space"), spend a day savoring a day set apart from the work week.</p>

{% endblock %}