{% extends "base.html" %}

{% block title %}Review: Sober Living for the Revolution{% endblock %}

{% block description %}20 pages of Ian Mackaye saying straight edge (sXe) is against rules, and then 200 pages of assorted communists, socialists, and anarchists saying 'follow our sXe-derived rules!'{% endblock %}

{% block tags %}music, punk rock, sxe, straight edge, books{% endblock %}">

{% block date %}2015-11-27{% endblock %}">

{% block page_content %}

	<p>I'm currently reading Sober Living for the Revolution, edited by Gabriel Kuhn. It's a very odd book: 20 pages of Ian Mackaye saying straight edge (sXe) is against rules (literally "this is not a set of rules"), and then 200 pages of assorted communists, socialists, and anarchists saying "follow our sXe-derived rules!"

	<p>Maybe it's because I'm long ex-sXe (in fact, I'm a few beers deep currently) and very much a capitalist, but I prefer keeping sXe at Mackaye's level, i.e., that it's about a) understanding that you can make choices in your own life, and b) that in refusing to make choices, you have still made a choice (to semi-ironically quote Rush).

	<p>Interpreting it this way, how does sXe remain meaningful? It does so through the individual choice to pay attention to the issues that affect one's community, country, and world. I like to think that the mechanisms for action are left intentionally vague and that individuals should decide for themselves how they get involved.

	<p>In short, my interpretation is that sXe only tells us that we must choose to get involved in the process of making the world a better place, choose how we can best do so, and then act on these choices. Everything else is left to us. To believe otherwise is to use sXe as propaganda for another, larger set of beliefs, contra to how it was meant to be used.

{% endblock %}