{% extends "base.html" %}

{% block title %}2001: A Space Odyssey Predicts Tablets and 24 Hour News Cycle{% endblock %}

{% block description %}Prescient prediction from Arthur C. Clarke, writing in 1968...{% endblock %}

{% block page_content %}

	<h1>{{ self.title() }}</h1>

	<h2 id="date">2014-02-06</h2>

	<p>Prescient prediction from Arthur C. Clarke, writing in 1968...</p>

	<blockquote>

		<p>"When he tired of official reports and memoranda and minutes, he would plug his fools-cap sized Newspad into the ship's information circuit and scan the latest reports from Earth. One by one he would conjure up the world's major electronic papers..."</p>

		<p>"Floyd wondered if the Newspad, and the fantastic technology behind it, was the last word in man's quest for perfect communications. Here he was, far out in space, speeding away from Earth at thousands of miles an hour, yet in a few milliseconds he could see the headlines of any newspaper he pleased. (That very word "newspaper," of course, was an anachronistic hangover into the age of electronics.) The text was updated automatically on every hour; even if one read only the English versions, one could spend an entire lifetime doing nothing but absorbing the ever-changing flow of information from the news satellites."</p>

	</blockquote>

	<p>The next paragraph is fitting:<p>

	<blockquote>

		<p>"It was hard to imagine how the system could be improved or made more convenient. But sooner or later, Floyd guessed, it would pass away, to be replaced by something as unimaginable as the Newspad itself would have been to Caxton or Gutenberg."</p>

	</blockquote>

	<p>p. 57-58. I still have no idea what a fools-cap is.</p>

{% endblock %}