{% extends "book-review-base.html" %}

{% block cover %}the-land-and-its-people.jpeg{% endblock %}

{% block title %}The Land and Its People, by David Sedaris{% endblock %}

{% block description %}A comfort read{% endblock %}

{% block tags %}books{% endblock %}">

{% block date %}2026-10-05{% endblock %}">

{% block page_content %}

<p>I've returned to David Sedaris's writing every 5 years or so. I keep coming back because there's a familiarity to the characters - Hugh, David's sisters and parents - and I appreciate that no matter where a piece starts, it's impossible to know where it will end.</p>

<p>Still, Sedaris, like the rest of us, has a limited number of stories to tell. While there are some gems here, it's not banger after banger like the best-of collections or early collections such as "Me Talk Pretty One Day." There he had an entire life - or at least many decades - to mine from, rather than just a few years.</p>

<p>So while I was rarely left reeling, The Land and Its People does have that trademark wit, warmth, and wonder. That alone made it worth a read.</p>

{% endblock %}

{% block rating %}3{% endblock %}