{% extends "book-review-base.html" %}

{% block cover %}train-dreams.jpg{% endblock %}

{% block title %}Train Dreams, by Denis Johnson{% endblock %}

{% block description %}When less is more{% endblock %}

{% block tags %}books{% endblock %}">

{% block date %}2026-07-18{% endblock %}">

{% block page_content %}

	<p>Like everyone who has read this book, or watched the movie adaptation, I found it quiet and beautiful. So much happens in America around Robert Granier and, depending on your point of view, either so much or so little in his life. "Is Robert's life a tragedy?" is a question I've asked friends, and no one is quite sure.</p>

	<p>Some believe that 50 pages longer and this would have won the 2012 Pultzer, which went unrewarded. But 50 pages more and this wouldn't be the same book.</p>

{% endblock %}

{% block rating %}5{% endblock %}