{% extends "base.html" %}

{% block title %}Getting Americans into the Banking System, for Good and for Profit{% endblock %}

{% block description %}While public sector actions and public-private partnerships will play a role in getting more Americans into the banking system, the financial services industry's resources and drive to improve profits will be a bigger factor.{% endblock %}

{% block tags %}banking, social justice{% endblock %}">

{% block date %}2013-09-27{% endblock %}">

{% block page_content %}

	<p>One of our most under-reported policy problems is the significant number of Americans without bank accounts. As New School professor Lisa Servon recently <a href="http://www.theatlanticcities.com/jobs-and-economy/2013/09/why-poor-choose-go-without-bank-accounts/6783/">noted</a> in Atlantic Cities, "17 million nationwide are unbanked…Industry studies estimate that there were more than $58.3 billion in check-cashing transactions in 2010."

	<p>Some estimates put the cost to the unbanked at $530 per person per year.

	<p>Unfortunately, the public sector has had limited success in attacking the problem. For instance, <a href="http://bankonmanhattan.com/">Bank On Manhattan</a>, a public-private partnership launched in 2010 by the Manhattan Borough President's Office in collaboration with the New York Federal Reserve Bank, Citibank, and dozens more financial, community, and government partners, has had some success in helping New Yorkers open bank accounts, but remains relatively small due to limited available resources.

	<p>Bank On Manhattan's experience is instructive. While the public sector has an important role to play, profit motive (combined with the heft of the financial services industry) will ultimately be the key to solving the problem of unbanked Americans.

	<p>See, for example, American Express, which is catering to this market with <a href="https://www.serve.com/">Serve</a>, a combination pre-paid card and mobile payments platform. Serve, in addition to being a standalone product, powers <a href="https://www.bluebird.com/">Bluebird</a>, the checking and debit alternative American Express launched with Wal-Mart last year and that now has over one million accounts. While Bluebird customers who don't also have a traditional bank account are still technically unbanked, they are getting many of perks of a bank account, including FDIC insurance, direct deposit, low fees, and a checkbook.

	<p>Importantly, American Express has not only the capital, but also the incentive to build out Serve—it's collecting its standard credit card processing fees on every purchase made through the service and getting unique information about its customers (Serve data doesn’t go to credit agencies). This additional data could help AMEX identify credit card applicants with marginal credit scores who are less likely to default.

	<p>It's advantages like these that will get the financial services industry to focus on capturing the unbanked. While public sector actions and public-private partnerships will play a role in getting more Americans into the banking system, the financial services industry's resources and drive to improve profits will be a bigger factor.

{% endblock %}